# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Data files
data/
models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
env/
venv/

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment variables
.env
